:root {
  --fondo-color: ;
  --items-color: #5D8EAA;
  --border-color: rgb(161, 132, 240);
  --text-color: #e7e7e7;
  --bg: #1e2345;
  --violet: rgb(161, 132, 240);
  --pink: #d60087;
  --turquoise: #2fdabd;
  --imagen-fondo: url('asistencia.jpg');
  font-size: 10px;
}


* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 10px;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  background: var(--imagen-fondo);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 30px;
  position: fixed;
  border-bottom: 1000px linear-gradient(to right, #5daa66, #FFFFFF);

}

nav img {
  margin-left: 1300px;
  
}


nav span i {
  color: var(--text-color);
  font-size: 2.7rem;
  cursor: pointer;

}

aside {
  background-color: rgba(0, 0, 0, 0.5);
  width: 260px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: hidden;
  margin-top: 50px;
  transition: 0.5s;

}

aside:hover {
  overflow-y: auto;

}

.desplegar {
  transform: translateX(-100%);
}

aside::-webkit-scrollbar {
  width: 8px;

}

aside::-webkit-scrollbar-thumb {
  background-color: #909090;
  border-radius: 5px;

}


.container-svg {
  border-bottom: 1px solid var(--border-color);
  padding: 20px 15px;
  color: var(--text-color);
  border-bottom: 1000px linear-gradient(to right, #5daa66, #FFFFFF);
  background-color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  border: 1px solid var(--pink);
}

.container-svg div {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  cursor: pointer;

}

.container-svg div:hover {
  background-color: var(--border-color);

}

.container-svg div span {
  margin-left: 15px;
  font-size: 1.5rem;
  font-weight: 500;

}

h2 {
  padding: 10px 20px;
  color: val(--text-color);
}


.frase {
  padding: 10px 20px;
  color: var(--text-color);
  position: fixed;
  top: 10%;
  left: 55%;
  transform: translateX(-50%);

}

.frase2 {
  padding: 10px 20px;
  color: var(--text-color);
  position: fixed;
  top: 22%;
  left: 38%;
  transform: translateX(-50%);

}

.frase3 {
  padding: 10px 20px;
  color: var(--text-color);
  position: fixed;
  top: 22%;
  left: 72%;
  transform: translateX(-50%);

}

.actividades {
  padding: 10px 20px;
  color: var(--text-color);
  position: fixed;
  top: 55%;
  left: 72%;
  transform: translateX(-50%);
  font-size: 15px;
}

.ORLANDO {
  position: absolute;
  width: 60%;
  height: 40%;
  left: 6%;
  top: 0.5%;
  border-radius: 1rem;
  padding: 3%;
  margin: 13%;
  background: rgba(0, 0, 0, 0.5);
  border: 0.3rem solid #000000;
}


.ORLANDO img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease;
  position: relative;
  z-index: 999;
}

.ORLANDO img:hover {
  transform: scale(1.1);
  transition: transform 1s ease;
}



.comprar-btn {
  background-color: #4CAF50;
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  top: 430px;
  left: 250px;
}


.frio {
  padding: 10px 20px;
  color: var(--text-color);
  position: fixed;
  top: 55%;
  left: 38%;
  transform: translateX(-50%);
  font-size: 15px;
}

.frio3 {
  position: absolute;
  width: 60%;
  height: 40%;
  left: 6%;
  top: 0.5%;
  border-radius: 1rem;
  padding: 3%;
  margin: 13%;
  background: rgba(0, 0, 0, 0.5);
  border: 0.3rem solid #000000;
}

.frio3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease;
  position: relative;
  z-index: 999;
}

.frio3 img:hover {
  transform: scale(1.1);
  transition: transform 1s ease;
}

.comprar-btn2 {
  background-color: #4CAF50;
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  top: 430px;
  left: 250px;
}

.preciofrio{
  padding: 10px 20px;
  color: #ffffff;
  font-size: 20px; 
  position: fixed;
  top: 75%;
  left: 31%;
  transform: translateX(-50%);
}


.wsp {
  position: fixed;
  left: 90%;
  top: 85%;
}

.wsp img {
  transition: transform 0.3s ease;

}

.wsp img:hover {
  transform: scale(1.1);
}

.redes {
  position: absolute;
  width: 9.5%;
  height: 5%;
  left: 85%;
  top: 3%;
  padding: 0.1% 0.1%;
  border-radius: 50rem;
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid #000000;
  animation: rainbow 5s linear infinite;
}

.redes img {
  transition: transform 0.3s ease;
  margin-right: 1%;

}

.redes img:hover {
  transform: scale(1.1);
}


.box {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 280px;
  top: 100px;
  border-radius: 5rem;
  padding: 2rem;
  margin: 5rem;
  background: rgba(0, 0, 0, 0.5);
  border: 3px solid #000000;
  overflow: hidden;
  animation: rainbow 5s linear infinite;
}




.box2 {

  position: absolute;
  width: 500px;
  height: 500px;
  left: 800px;
  top: 100px;
  border-radius: 5rem;
  padding: 2rem;
  margin: 5rem;
  background: rgba(0, 0, 0, 0.5);
  border: 3px solid #000000;
  overflow: hidden;
  animation: rainbow 5s linear infinite;
}


@keyframes rainbow {
  0% {
    border-color: var(--border-color);
  }
  25% {
    border-color: var(--pink);
  }
  50% {
    border-color: var(--turquoise);
  }
  100% {
    border-color: var(--violet);
  }
}



@media screen and (max-width: 480px) {
}

@media screen and (min-width: 481px) and (max-width: 768px) {
}

@media screen and (min-width: 769px) {
}

@media screen and (min-width: 1200px) {
}