:root {
  --fondo-color: ;
  --items-color: #5D8EAA;
  --border-color: rgb(161, 132, 240);
  --text-color: #e7e7e7;
  --bg: #1e2345;
  --violet: rgb(161, 132, 240);
  --pink: #d60087;
  --turquoise: #2fdabd;
  --imagen-fondo: url('fondocruceros.jpg');
  font-size: 10px;
}


* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 10px;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  background: var(--imagen-fondo);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 30px;
  position: fixed;
  border-bottom: 1000px linear-gradient(to right, #5daa66, #FFFFFF);

}

nav img {
  margin-left: 1300px;
  
}


nav span i {
  color: var(--text-color);
  font-size: 2.7rem;
  cursor: pointer;

}

aside {
  background-color: rgba(0, 0, 0, 0.5);
  width: 260px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: hidden;
  margin-top: 50px;
  transition: 0.5s;

}

aside:hover {
  overflow-y: auto;

}

.desplegar {
  transform: translateX(-100%);
}

aside::-webkit-scrollbar {
  width: 8px;

}

aside::-webkit-scrollbar-thumb {
  background-color: #909090;
  border-radius: 5px;

}


.container-svg {
  border-bottom: 1px solid var(--border-color);
  padding: 20px 15px;
  color: var(--text-color);
  border-bottom: 1000px linear-gradient(to right, #5daa66, #FFFFFF);
  background-color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  border: 1px solid var(--pink);
}

.container-svg div {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  cursor: pointer;

}

.container-svg div:hover {
  background-color: var(--border-color);

}

.container-svg div span {
  margin-left: 15px;
  font-size: 1.5rem;
  font-weight: 500;

}

h2 {
  padding: 10px 20px;
  color: val(--text-color);
}





.logo {
  position: fixed; 
  left: 600px; 
  top: 5px; 
}

.wsp {
  position: fixed;
  left: 1400px; 
  top: 650px; 
}

.wsp img {
  transition: transform 0.3s ease;
}

.wsp img:hover {
  transform: scale(1.1);
}

.redes {
  position: fixed;
  left: 1300px; 
  top: 10px; 
  padding: 5px 5px;
  border-radius: 50rem;
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid #000000;
  animation: rainbow 5s linear infinite;
}

.redes img {
  transition: transform 0.3s ease;
  margin-right: 15px; 
}

.redes img:hover {
  transform: scale(1.1);
}



.box {
  position: absolute;
  width: 1100px;
  height: 150px;
  left: 280px;
  top: 300px;
  border-radius: 50rem;
  padding: 2rem;
  margin: 5rem;
  background: rgba(0, 0, 0, 0.5);
  border: 3px solid #000000;
  overflow: hidden;
  animation: rainbow 5s linear infinite;
}

.box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: rgba(0, 0, 0, 0.2);
  background-repeat: repeat;
  border: 1px solid #000000;
  box-sizing: border-box;

}


.box2 {

  position: absolute;
  width: 300px;
  height: 50px;
  left: 650px;
  top: 460px;
  border-radius: 50rem;
  padding: 2rem;
  margin: 5rem;
  background: rgba(0, 0, 0, 0.5);
  border: 3px solid #000000;
  overflow: hidden;
  animation: rainbow 5s linear infinite;
}

.box2 ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: rgba(0, 0, 0, 0.2);
  background-repeat: repeat;
  border: 1px solid #000000;
  box-sizing: border-box;

}

@keyframes rainbow {
  0% {
    border-color: var(--border-color);
  }
  25% {
    border-color: var(--pink);
  }
  50% {
    border-color: var(--turquoise);
  }
  100% {
    border-color: var(--violet);
  }
}
