:root {
  --fondo-color: ;
  --items-color: #5D8EAA;
  --border-color: rgb(161, 132, 240);
  --text-color: #e7e7e7;
  --bg: #1e2345;
  --violet: rgb(161, 132, 240);
  --pink: #d60087;
  --turquoise: #2fdabd;
  --imagen-fondo: url('carrito.jpg');
  font-size: 10px;
}


* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 10px;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  background: var(--imagen-fondo);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 30px;
  position: fixed;
  border-bottom: 1000px linear-gradient(to right, #5daa66, #FFFFFF);

}

nav img {
  margin-left: 1300px;
  
}


nav span i {
  color: var(--text-color);
  font-size: 2.7rem;
  cursor: pointer;

}

aside {
  background-color: rgba(0, 0, 0, 0.5);
  width: 260px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: hidden;
  margin-top: 50px;
  transition: 0.5s;

}

aside:hover {
  overflow-y: auto;

}

.desplegar {
  transform: translateX(-100%);
}

aside::-webkit-scrollbar {
  width: 8px;

}

aside::-webkit-scrollbar-thumb {
  background-color: #909090;
  border-radius: 5px;

}


.container-svg {
  border-bottom: 1px solid var(--border-color);
  padding: 20px 15px;
  color: var(--text-color);
  border-bottom: 1000px linear-gradient(to right, #5daa66, #FFFFFF);
  background-color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  border: 1px solid var(--pink);
}

.container-svg div {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  cursor: pointer;

}

.container-svg div:hover {
  background-color: var(--border-color);

}

.container-svg div span {
  margin-left: 15px;
  font-size: 1.5rem;
  font-weight: 500;

}

.box {
  position: absolute;
  width: 30%;
  height: 80%;
  left: 20%;
  top: 2%;
  border-radius: 5rem;
  padding: 2rem;
  margin: 5rem;
  background: rgba(0, 0, 0, 0.5);
  border: 3px solid #000000;
  overflow: hidden;
  animation: rainbow 5s linear infinite;
}

.box2 {
  position: absolute;
  width: 30%;
  height: 80%;
  left: 56%;
  top: 2%;
  border-radius: 5rem;
  padding: 2rem;
  margin: 5rem;
  background: rgba(0, 0, 0, 0.5);
  border: 3px solid #000000;
  overflow: hidden;
  animation: rainbow 5s linear infinite;
}

.box3 {
  position: absolute;
  width: 80%;
  height: 40%;
  left: 0%;
  top: 10%;
  border-radius: 2rem;
  padding: 2rem;
  margin: 5rem;
  background: rgba(0, 0, 0, 0.5);
  border: 3px solid #000000;
  overflow: hidden;

}

.box4 {
  position: absolute;
  width: 80%;
  height: 20%;
  left: 0%;
  top: 52%;
  border-radius: 2rem;
  padding: 2rem;
  margin: 5rem;
  background: rgba(0, 0, 0, 0.5);
  border: 3px solid #000000;
  overflow: hidden;

}

.box2 .ZONA {
  padding: 10px 20px;
  color: var(--text-color);
  position: fixed;
  top: 10%;
  left: 75%;
  transform: translateX(-50%);
  font-size: 35px;
}

.box2 .lista {
  padding: 10px 20px;
  color: var(--text-color);
  position: fixed;
  top: 18%;
  left: 70%;
  transform: translateX(-50%);
  font-size: 15px;
}

.totales {
  color: var(--text-color);
}

.pagar {
  background-color: #4CAF50;
  color: var(--text-color);
  border: none;
  padding: 6% 12%;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 83%;
  left: 70%;
  transform: translateX(-50%);
}

.cancelar {
  background-color: #fd0202;
  color: var(--text-color);
  border: none;
  padding: 6% 10%;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 83%;
  left: 30%;
  transform: translateX(-50%);
}

.box .Form {
  padding: 10px 20px;
  color: var(--text-color);
  position: fixed;
  top: 10%;
  left: 38%;
  transform: translateX(-50%);
  font-size: 20px;
}

@keyframes rainbow {
  0% {
    border-color: var(--border-color);
  }
  25% {
    border-color: var(--pink);
  }
  50% {
    border-color: var(--turquoise);
  }
  100% {
    border-color: var(--violet);
  }
}



@media screen and (max-width: 480px) {
}

@media screen and (min-width: 481px) and (max-width: 768px) {
}

@media screen and (min-width: 769px) {
}

@media screen and (min-width: 1200px) {
}